This notebook converts the CellLine dataset used for NCMF into a format that can be used by DCMF.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data_folder = "../../datasets/NCMF/"
dataset_name = "CellLine"
sample_no = 3
target_link_type = 3

In [3]:
node_file = f'sampled{sample_no}_node.dat'
link_file = f'sampled{sample_no}_link.dat'
link_test_file = f'sampled{sample_no}_link.dat.test'
label_file = f'sampled{sample_no}_label.dat'
label_test_file = f'sampled{sample_no}_label.dat.test'
meta_file = f'sampled{sample_no}_meta.dat'
info_file = f'sampled{sample_no}_info.dat'
record_file = f'sampled{sample_no}_record.dat'

In [4]:
cellline_count = 692
genes_count = 638
drugs_count = 396

In [5]:
# Creating matrix from link.dat file

In [6]:
link_train_df = pd.read_csv(data_folder + dataset_name + "/" + link_file, sep = "\t", header = None)
link_train_df.columns = ["left", "right", "link_type", "link_value"]
link_train_df.head()

   left  right  link_type  link_value
0     0    722          0         1.0
1     0    835          0         1.0
2     0    974          0         1.0
3     0   1066          0         1.0
4     0   1068          0         1.0

In [7]:
link_train_df.tail()

        left  right  link_type  link_value
872365   691   1719          3    0.169045
872366   691   1720          3    0.043135
872367   691   1721          3    0.196274
872368   691   1722          3    0.024832
872369   691   1724          3    0.024583

In [8]:
link_train_df0 = link_train_df[link_train_df["link_type"] == 0]
link_train_df1 = link_train_df[link_train_df["link_type"] == 1]
link_train_df2 = link_train_df[link_train_df["link_type"] == 2]
link_train_df3 = link_train_df[link_train_df["link_type"] == 3]

In [9]:
link_train_df0.head()

   left  right  link_type  link_value
0     0    722          0         1.0
1     0    835          0         1.0
2     0    974          0         1.0
3     0   1066          0         1.0
4     0   1068          0         1.0

In [10]:
link_train_df0.tail()

       left  right  link_type  link_value
19977   691   1128          0         1.0
19978   691   1267          0         1.0
19979   691   1275          0         1.0
19980   691   1282          0         1.0
19981   691   1299          0         1.0

In [11]:
mut_np = np.zeros((cellline_count, genes_count))
mut_np.shape

(692, 638)

In [12]:
for idx, v in link_train_df0.iterrows():
    mut_np[int(v["left"])][int(v["right"]) - cellline_count] = v["link_value"]

In [13]:
cnv_np = np.zeros((cellline_count, genes_count))
print(cnv_np[1])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [14]:
link_train_df1.head()

       left  right  link_type  link_value
19982     0    692          1         1.0
19983     0    693          1         1.0
19984     0    694          1         1.0
19985     0    697          1        -1.0
19986     0    698          1         1.0

In [15]:
for idx, v in link_train_df1.iterrows():
    cnv_np[int(v["left"])][int(v["right"]) - cellline_count] = v["link_value"]
print(cnv_np[1])

[ 0.  0.  0.  0. -1.  0.  0.  0.  0.  0.  0.  0.  0. -1.  0. -1. -1.  0.
  0.  0.  0. -1.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0. -1.  1.  0.  0.  0.  0.  0.  1.  0.  0.  0.
  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0. -1. -1.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  1.  0.  0.  0. -1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. -1.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0. -1.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. -1.  0.  0.  0.  0.  0. -1.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. -1.  0.  0.  0.  0.  1.  0.  0.
 -1.  1.  0.  0.  0.  0.  0.  0.  0. -1.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. -1. -1.  0.  0.  0.  1.  0.  0.
  0. -1.  0. -1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0. -1.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0. -1. -1.  0.  0.  0.  0.
 -1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. -1.
 -1.  0.  0.  0. -1.  0.  0.  0.  0.  0. -1.  0.  0.  1.  0.  0.  0.  0.
  0.  0.  0. -1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  1.
  1.  0.  0.  0. -1.  0.  0.  0.  0.  0. -1.  1.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.
  0.  0.  1.  0.  0.  0.  0.  0.  0.  0. -1.  0. -1.  0.  0.  0.  0.  0.
  0. -1.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.
  1.  1.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  1.  1.  0.  1.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.
  0.  0.  0.  0. -1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0. -1.  0.  0.  0.  0.  0.  1.  0.  0.  1. -1.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  1.  0.  0.  0. -1.  0.  0.  0.]

In [16]:
gene_exp_np = np.zeros((cellline_count, genes_count))
print(gene_exp_np[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [17]:
link_train_df2.head()

        left  right  link_type  link_value
232761     0    692          2    5.140779
232762     0    693          2    2.998196
232763     0    694          2   11.418643
232764     0    695          2    3.434295
232765     0    696          2    4.670161

In [18]:
for idx, v in link_train_df2.iterrows():
    gene_exp_np[int(v["left"])][int(v["right"]) - cellline_count] = v["link_value"]
print(gene_exp_np[0])

[ 5.14077866  2.9981955  11.41864325  3.43429462  4.67016051  2.91647664
  4.51349075  5.92908084  6.50239426  8.65710404  2.42760617  1.40599236
  2.7548875   0.37851162  2.49825087  5.61382629  4.07895134  0.
  2.8738132   4.62819033  4.3305584   3.45285896  5.09423607  3.90400232
  3.64385619  3.06867081  2.45154083  0.12432814  2.7441611   4.10601324
  2.69376571  3.91073266  5.86319511  3.5360529   4.86542398  3.6123525
  6.75234719  6.08193608  5.17072628  5.30487605  5.25436728  4.30378075
  6.75368476  5.9590746   3.63923216  1.62293035  1.28095631  9.82875533
  5.77689357  1.01435529  5.26903315  2.592158    2.22342255  3.31469653
  0.          0.83187724  7.11779892  3.36597243  3.09423607  4.91456452
  3.51222689  3.93545975  4.53106949  0.48542683  2.64385619  4.76022095
  3.05311134  3.88655015  2.50334874  4.30669971  3.31614574  3.20320116
  0.31034012  9.47664496  0.40053793  4.15055968  4.95559179  5.29351763
  3.32192809  1.22650853  7.44683518  0.05658353  4.33842441  6.69919069
  0.33342373  6.39094277  0.02856915  5.25171909  0.04264434  0.26303441
  6.90171165  4.93734439  6.24164954  4.39163026  7.57871233  4.78711898
  3.23112516  2.82171022  5.82476785  7.86684618  4.36946648  1.36737107
  1.422233    4.49569516  4.64096791  4.92314918  4.02856915  0.55581616
  3.29719142  4.32984118  4.29792505  3.64038956  5.36071543  0.
  8.03011533  0.11103131  0.25096157  5.22265002  0.04264434  7.83522933
  4.83743871  5.780835    4.85449442  0.75702325  1.86789646  0.02856915
  0.          5.90424323  6.24545763  5.20828314  5.48058827  2.71589337
  6.61985315  0.01435529  6.31451527  7.14791719  4.70929064  3.67016051
  1.24488706  2.48542683  5.53884852  0.          5.70210341  6.34394074
  4.25701062  3.67581593  3.30597052  6.00539999  1.50589093  4.29645741
  2.32192809  4.643279    0.04264434  4.36176836  6.10013667  4.32264926
  3.929791    6.1695242   8.81797494  7.1142629   6.22843392  4.41074813
  4.3248106   2.65306002  8.23006848  0.84799691  0.17632277  1.0976108
  2.34766566  3.64038956  4.99276843  5.19574129  3.23419472  3.66902677
  5.34376312  1.91073266  3.44493205  4.48992822  2.07038933  5.87774425
  4.14486214  0.54596837  0.08406426  5.13627343  0.65076456  5.15299461
  3.15866018  2.46988598  8.0330375   4.7441611   3.12763328  5.00225245
  4.53853816  3.34908215  5.0325417   4.76712508  2.59454855  6.14547367
  4.81403765  3.87872534  0.02856915  0.0976108   0.          0.
  4.99774403  5.27127626  3.3448285   4.71369581  6.79792086  4.97498811
  0.20163386  0.02856915  0.47508488  1.46988598  1.65076456  0.07038933
  2.60880924  2.48542683  2.59931779  7.1129086   3.38818954  4.62351574
  2.46988598  5.36282053  0.04264434  4.19692173  0.0976108   1.41683974
  4.34198575  4.26228281  4.84949893  4.69488019 10.56233784  8.09950562
  4.69320815  1.77399633  0.71369581  5.40531168  5.86839045  6.66916853
  2.19849415  7.52677308  0.25096157  6.75234719  6.35667204  6.61426814
  8.12639474  0.          2.09085343  5.87651695  2.81147103  7.58044702
  6.1536027   3.99004722  4.98777562  2.07382023  1.          1.077243
  3.62643914  0.32192809  0.18903382  0.          0.          4.03650333
  1.01435529  0.48542683  0.27500705  3.04788733  1.63226822  6.95814667
  1.59931779  3.98550043  0.12432814  1.5849625   2.03913839  4.06867081
  5.56376828  1.84398384  0.67807191  2.85996955  5.72109919  3.84699469
  4.38474059  4.06867081  6.59305492  3.42357817  0.37851162  5.51822038
  1.13093087  0.55581616  4.10013667  3.31614574  5.74899785  3.92219785
  4.95233357  3.94204526  5.39985467  6.08406426  5.85449442  0.28688115
  4.38681095  3.15380534  2.16671544  0.69599381  0.91073266  1.30451104
  4.67072705  4.51979349  1.70487196  0.20163386  3.10936056  4.39025496
  6.17072628  0.04264434  3.25096157  3.44228004  5.09000653  6.09613532
  4.56376828  2.39231742  4.81198472  5.22804905  4.74846123  6.6245396
  5.29167722  4.79285535  7.09992635  4.80941444  4.30742853  3.83693401
  4.10013667  4.50779464  0.50589093  3.22187708  5.06047978  3.14567746
  3.85996955  0.04264434  1.69599381  4.18110255  4.39231742  3.68706069
  3.16188768  0.02856915  0.04264434  5.56985561  3.30158765  5.19100985
  2.75274859  5.34553831  2.85399565  2.04264434  5.29204549  5.75808993
  4.03298242  4.7382274   2.81557543  0.81557543  4.3110671   0.
  6.17472599  4.83035675  4.16108148  5.82934219  5.79830978  6.21218021
  1.65992456  5.80735492  6.53589743  1.44890095  5.52950864  7.1912073
  2.51853514  0.04264434  3.92219785  5.69404441  4.98093927  0.38956681
 11.06433859  0.15055968  5.09296851  4.16269343  4.45746296  6.26153082
  5.7758407   0.0976108   0.46466827  0.43295941  4.95233357  5.035184
  5.57742883  0.01435529  0.08406426  7.7857467   3.21256934  7.31360866
  0.04264434  8.25635024  4.49377541  7.40105016  0.0976108   0.
  3.22342255  0.15055968  0.22650853  3.48155728  3.29572302  0.57531233
  0.12432814  4.48800077  0.01435529  2.26303441  0.27500705  3.98367769
  3.74953427  5.0583165   4.138323    0.01435529  3.30597052  3.65535183
  3.76341157  2.3448285   5.72628629  0.99276843  8.2547452   3.48026512
  3.56071495  3.60288441  4.22032995  4.82731094  5.12887076  4.48220293
  3.82171022  1.31614574  3.07382023  5.60851358  6.37503943  5.0513721
  5.02768488  0.07038933  0.11103131  1.10433666  4.96486066  7.10024182
  6.74590957  1.3950628   2.01435529  2.38128337  5.36422222  5.6570683
  5.35120428  6.07745665  6.12039342  2.26603689  5.18030702  0.
  4.74362268  7.28216177  2.6622055   7.46180683  4.34340782  4.71753934
  4.06091205  5.68369645  2.75915583  2.89336221  3.94204526  5.80709727
  3.28540222  3.79908731  3.52857132  4.48928602  3.01792191  4.92694825
  5.04089243  1.67807191  2.28392177  4.17312743  0.21412481  6.97269265
  8.24184018  3.07382023  5.22843392  2.71808758  4.54101915  0.02856915
  4.87479697  5.33342373  4.04875931  3.94392133  4.35402894  5.68622037
  3.41548827  4.64212392  0.32192809  4.20398417  3.50969584  3.62760684
  0.21412481  5.93734439  5.50112063  6.34091827  7.69849632  6.11748727
  0.02856915  0.          2.20163386  2.89917563  2.24792751  1.73118324
  3.24792751  3.34340782  4.70487196  5.14200492  4.60407132  5.79960542
  4.80941444  3.85897561  5.17352724  1.3448285   6.86752586  2.5360529
  0.18903382  2.62293035  1.73118324  0.          4.46336089  3.75702325
  1.41142625  2.19219417  5.43895815  4.46008724  4.59991284  4.28466219
  5.9121708   6.78358761  6.45647763  6.06931549  6.82769202  5.43729433
  4.34624777  3.81249823  3.72246602  1.12432814  4.36387192  3.41818995
  6.03210084  4.82781902  3.0721058   0.3448285   5.61559286  5.43396093
  3.02680006  2.90110824  4.9685516   8.73230312  5.69097574  4.06350294
  5.84724531  4.97590527  5.04133061  4.60169652  1.422233    3.18428029
  3.54473266  4.92742243  3.97361128  3.78555055  3.15542543  4.47638169
  4.73118324  0.23878686  3.36176836  5.04308198  6.30048984  0.05658353
  6.45483391  3.65420638  0.0976108   0.0976108   0.04264434  1.38956681
  1.91838623  3.0976108   3.73768676  3.78450398  3.68818036  4.30597052
  6.17212744  2.84197312  4.99140847  2.10768787  0.97085365  1.15704371
  4.45154083  2.25701062  3.60525726  1.11103131  6.15481811  5.8006411
  5.21062264  0.23878686  4.62410089  4.30231905  3.04264434  6.0591822
  5.69821848  4.59096124  5.81813476  1.89530262  5.7398481   7.26697389
  6.9429836   6.19829769  4.97407037  5.46172499  4.54596837  4.35684808
  5.00450139  5.2395508   4.67525139  0.28688115  5.13216553  5.6401003
  5.59753117  6.83200388  4.25247621  7.41987593  3.86690798  4.97177345
  6.6441447   6.02414235  0.48542683  2.22342255  5.60673832  1.94485845
  3.7441611   3.39917109]

In [19]:
link_train_df3

        left  right  link_type  link_value
653144     0   1330          3    0.221568
653145     0   1331          3    0.048679
653146     0   1332          3    0.159713
653147     0   1333          3    0.351311
653148     0   1335          3    0.063590
...      ...    ...        ...         ...
872365   691   1719          3    0.169045
872366   691   1720          3    0.043135
872367   691   1721          3    0.196274
872368   691   1722          3    0.024832
872369   691   1724          3    0.024583

[219226 rows x 4 columns]

In [20]:
audrc_np = np.zeros((cellline_count, drugs_count))
for idx, v in link_train_df3.iterrows():
    audrc_np[int(v["left"])][int(v["right"]) - cellline_count - genes_count] = v["link_value"]
print(audrc_np[0])

[0.221568  0.048679  0.159713  0.3513112 0.        0.06359   0.
 0.597878  0.3404    0.164097  0.051614  0.        0.        0.015288
 0.015264  0.016689  0.020047  0.50838   0.052735  0.015267  0.019031
 0.492478  0.        0.075912  0.        0.015264  0.        0.12433
 0.028404  0.244407  0.018518  0.        0.015264  0.        0.
 0.        0.0744356 0.078227  0.051878  0.031134  0.025371  0.
 0.045952  0.225517  0.        0.281124  0.168014  0.164253  0.05078
 0.027791  0.082758  0.132223  0.        0.        0.489789  0.020327
 0.020155  0.016595  0.217188  0.491202  0.        0.099333  0.117592
 0.11653   0.250651  0.026004  0.027015  0.029272  0.036893  0.247583
 0.        0.101137  0.023246  0.040416  0.015324  0.044405  0.
 0.047098  0.016411  0.017802  0.        0.018969  0.087263  0.234846
 0.17954   0.02762   0.0738166 0.        0.        0.        0.0921958
 0.        0.05995   0.218343  0.009264  0.023891  0.015264  0.0185304
 0.038635  0.037053  0.016356  0.        0.591866  0.312618  0.634781
 0.154775  0.        0.        0.555862  0.588507  0.020119  0.258475
 0.017283  0.        0.113499  0.199367  0.23639   0.        0.
 0.        0.        0.014257  0.029754  0.        0.        0.116056
 0.02124   0.01915   0.        0.        0.029871  0.        0.168176
 0.016875  0.017016  0.181714  0.031106  0.022938  0.092342  0.062051
 0.219331  0.036084  0.        0.015408  0.        0.0442412 0.02721
 0.        0.010818  0.046189  0.142906  0.        0.022411  0.044708
 0.061882  0.017319  0.        0.021193  0.068665  0.015264  0.019563
 0.024297  0.3989752 0.279333  0.        0.053028  0.02705   0.
 0.093564  0.183698  0.023178  0.230552  0.        0.017133  0.
 0.053814  0.018466  0.028225  0.201654  0.017608  0.414179  0.017115
 0.074931  0.015264  0.4492682 0.177619  0.038688  0.017554  0.17147
 0.017798  0.015458  0.015361  0.021103  0.016285  0.12743   0.
 0.022141  0.035583  0.0367    0.050623  0.14055   0.103043  0.022241
 0.21852   0.        0.044491  0.024881  0.015865  0.        0.02405
 0.040711  0.        0.022121  0.110387  0.1880654 0.08315   0.136846
 0.016139  0.095304  0.499517  0.082048  0.        0.120933  0.02787
 0.075067  0.047466  0.028163  0.015264  0.160731  0.016873  0.016143
 0.01203   0.070807  0.022393  0.01537   0.015264  0.63993   0.
 0.        0.028758  0.159415  0.015462  0.1629472 0.1893    0.134958
 0.065341  0.015716  0.018694  0.060943  0.109768  0.027225  0.043818
 0.19232   0.061732  0.012949  0.629094  0.        0.090787  0.040717
 0.015997  0.        0.095219  0.        0.019576  0.152087  0.046323
 0.098535  0.114869  0.018304  0.0232124 0.015273  0.        0.
 0.017541  0.017851  0.097568  0.245808  0.022809  0.249511  0.040699
 0.018728  0.046923  0.        0.763163  0.015264  0.015264  0.
 0.        0.        0.        0.044597  0.0293004 0.04059   0.0810764
 0.366614  0.        0.058634  0.        0.        0.500315  0.0551346
 0.0793708 0.        0.017115  0.        0.        0.015746  0.
 0.        0.140289  0.017345  0.620905  0.017732  0.046534  0.051865
 0.31744   0.021896  0.133485  0.015732  0.015264  0.015572  0.
 0.015264  0.022621  0.075655  0.062932  0.190742  0.119862  0.318294
 0.        0.096941  0.097699  0.077974  0.        0.0431506 0.763764
 0.008424  0.015307  0.        0.015264  0.019002  0.018421  0.175147
 0.487276  0.2562738 0.018687  0.032259  0.085697  0.412357  0.015264
 0.447998  0.        0.161166  0.191149  0.        0.        0.10127
 0.038829  0.        0.017001  0.053271  0.        0.        0.634362
 0.171278  0.027186  0.043273  0.13528   0.101993  0.057412  0.024416
 0.        0.187811  0.015977  0.101225  0.055266  0.        0.0485066
 0.008388  0.022316  0.02447   0.0363    0.        0.015264  0.015264
 0.084107  0.        0.266508  0.927723  0.016464  0.1434454 0.
 0.017916  0.106223  0.016139  0.066965 ]

In [21]:
audrc_test_np = np.zeros((cellline_count, drugs_count))
link_test_df = pd.read_csv(data_folder + dataset_name + "/" + link_test_file, sep = "\t", header = None)
link_test_df.columns = ["left", "right", "link_value"]
link_test_df.head()

   left  right  link_value
0   598   1375    0.380364
1   454   1371    0.312764
2   248   1572    0.209578
3     0   1651    0.115166
4   468   1508    0.005335

In [22]:
for idx, v in link_test_df.iterrows():
    audrc_test_np[int(v["left"])][int(v["right"]) - cellline_count - genes_count] = v["link_value"]

In [23]:
# Rdoublets creation
Rdoublets = pd.DataFrame(columns = ["left", "right"])
Rdoublets["left"] = link_train_df3["left"].copy()
Rdoublets["left"] = Rdoublets["left"]
Rdoublets["right"] = link_train_df3["right"].copy()
Rdoublets["right"] = Rdoublets["right"] - cellline_count - genes_count

In [24]:
Rdoublets.head()

        left  right
653144     0      0
653145     0      1
653146     0      2
653147     0      3
653148     0      5

In [25]:
# getting traing and test idx
link_train_df3["indices"] = link_train_df3.apply(lambda row: int((row["left"]) * drugs_count + (row["right"] - cellline_count - genes_count)), axis = 1)
link_train_df3.head()

/home/ajayago/anaconda3/envs/dcmf_env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        left  right  link_type  link_value  indices
653144     0   1330          3    0.221568        0
653145     0   1331          3    0.048679        1
653146     0   1332          3    0.159713        2
653147     0   1333          3    0.351311        3
653148     0   1335          3    0.063590        5

In [26]:
# getting traing and test idx
link_test_df["indices"] = link_test_df.apply(lambda row: int((row["left"]) * drugs_count + (row["right"] - cellline_count - genes_count)), axis = 1)
link_test_df.head()

   left  right  link_value  indices
0   598   1375    0.380364   236853
1   454   1371    0.312764   179825
2   248   1572    0.209578    98450
3     0   1651    0.115166      321
4   468   1508    0.005335   185506

In [27]:
link_test_df.tail()

       left  right  link_value  indices
54801   321   1700    0.013843   127486
54802   168   1473    0.773214    66671
54803   349   1717    0.419108   138591
54804     3   1445    0.102049     1303
54805   300   1676    0.159679   119146

In [28]:
# Saving matrices
import pickle

In [29]:
with open(f"../data/{dataset_name}/sample{sample_no}/" + "X_13_train_fold_1.pkl", "wb") as f:
    pickle.dump(audrc_np, f)

In [30]:
with open(f"../data/{dataset_name}/sample{sample_no}/" + "X_13_test_fold_1.pkl", "wb") as f:
    pickle.dump(audrc_test_np, f)

In [31]:
with open(f"../data/{dataset_name}/sample{sample_no}/" + "X_13_train_idx_1.pkl", "wb") as f:
    pickle.dump(link_train_df3["indices"].values, f)

In [32]:
with open(f"../data/{dataset_name}/sample{sample_no}/" + "X_13_test_idx_1.pkl", "wb") as f:
    pickle.dump(link_test_df["indices"].values, f)

In [33]:
with open(f"../data/{dataset_name}/sample{sample_no}/" + "X_12_mut.pkl", "wb") as f:
    pickle.dump(mut_np, f)

In [34]:
with open(f"../data/{dataset_name}/sample{sample_no}/" + "X_12_cnv.pkl", "wb") as f:
    pickle.dump(cnv_np, f)

In [35]:
with open(f"../data/{dataset_name}/sample{sample_no}/" + "X_12_gene_exp.pkl", "wb") as f:
    pickle.dump(gene_exp_np, f)

In [36]:
with open(f"../data/{dataset_name}/sample{sample_no}/" + "R_doublets_1.pkl", "wb") as f:
    pickle.dump(Rdoublets.values, f)